
// site vars

$width: 940px;
$std-margin: 25px;

@import "bootstrap";

.no-decoration,
.no-decoration:hover,
.no-decoration:focus {
  color: #000;
  text-decoration: none;
}

.bottom-align {
   align-self: flex-end;
   -webkit-align-self: flex-end;
}

.flex {
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}